	<html lang="en">
    <boby>
        <header>
          
          <div class="view" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/architecture.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
            <div class="mask rgba-gradient align-items-center">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 white-text text-center text-md-left mt-xl-5 mb-5 wow fadeInLeft" data-wow-delay="0.3s">
                    <h1 class="h1-responsive font-weight-bold mt-sm-5">Make purchases with our APP </h1>

                    <%= link_to "Categories", categories_path, :class => "btn btn-success btn-lg" %>
                    <hr class="hr-light">
                  </div>
                  <div class="col-md-6 col-xl-5 mt-xl-5 wow fadeInRight" data-wow-delay="0.3s">
                    <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/admin-new.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </heade>
    </body>
</html>