<div class = 'container'>

	  <section id="cover" class="min-vh-50">
    <div id="cover-caption">
        <div class="container">
            <div class="row text">
                <div class="mx-auto text-center form p-4">
                    <h3 class="display-5 py-4 text-truncate"></h3>
<h3>Enter Details </h3>

<%= render 'form', product: @product, method: 'post' %>
<%#= link_to 'Back', users_path %>
